'.source.Citron':
  'editor':
    'increaseIndentPattern': '\\{(\\\\?)[^\\}]*$'
    'decreaseIndentPattern': '\\s*\\n\\s*\\}'
    'commentStart': '# '
    'nonWordCharacters': '/\\(\\)"\':,.;<>~!#^&*|+={}`?-[]'
